.big-name {
    font-size: 100px;
    letter-spacing: 7px;
    position: absolute;
}

#first {
    color: red;
    left: 50px;
    top: 140px;
}

#last {
    color: blue;
    left: 180px;
    top: 240px;
}