* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
}

header {
    background: peachpuff;
    height: 100px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
}

nav {
    z-index: 2;
    display: block;
    height: 40px;
    width: 1000px;
    margin: 0 auto;
}

.drop-down {
    display: block;
    float: right;
    height: 172px;
    width: 200px;
    overflow: hidden;

    list-style: none;
    text-align: center;
    border-bottom-left-radius: 5%;

    transition: height 0.3s ease;
    -webkit-transition: height 0.3s ease;
    -moz-transition: height 0.3s ease;
}

.drop-down.closed {
    height: 40px;
}

.drop-down li {
    border-bottom: 3px solid black;
}

.drop-down li a {
    display: block;
    height: 40px;
    background: peachpuff;
    line-height: 40px;
    text-decoration: none;
}

.drop-down.closed li:first-child a:after {
    content: "\25BC";
    float: right;
    width: 50px;
    font-size: 1.2rem;
    margin-left: -50px;
}

.drop-down li:first-child a:after {
    content: "\25B2";
    float: right;
    width: 50px;
    font-size: 1.2rem;
    margin-left: -50px;
}

main {
    z-index: 1;
    width: 1000px;
    margin: 0 auto;
    position: relative;
}
