body {
    height: 200vh;
}

nav {
    z-index: 2;
}

main {
    z-index: 1;
    display: flex;
    flex-flow: column nowrap;
}

#project1 {
    height: calc(100vh - 100px);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
}

.image-placeholder {
    height: 80%;
    width: 40%;
    outline: 1px black dotted;
}

.info-container {
    background: blue;
    height: 80%;
    width: 40%;
    outline: 1px black dotted;
}

#project2 {
    outline: 1px #000 dashed;
    height: 100vh;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
}